{#
/**
 * @file
 * Default theme implementation for a tweet.
 *
 * Available variables:
 * - tweet: The complete tweet data.
 * - tweet_id: The unique tweet identifier.
 * - page_name
 * - page_screen_name
 * - page_url
 * - page_image
 * - author_name
 * - author_screen_name
 * - author_url
 * - author_image
 * - tweet_time
 * - post_img
 * - post_text
 * - post_time
 * - post_url
 * - post_reply_link
 * - post_retweet_link
 * - post_favorite_link
 * - post_retweet_count
 * - post_like_count
 * - is_retweet
 *
 * @ingroup themeable
 */
#}
{{ page_name }}
{{ page_url }}
{{ page_image }}
{{ author_name }}
{{ author_url }}
{{ author_image }}
{{ post_time }}
{{ post_img }}
{{ post_text }}
{{ post_url }}
{{ post_reply_link }}
{{ post_retweet_link }}
{{ post_favorite_link }}
